@import '../index.scss';
.experience-container {
  font-family: 'Lato', sans-serif;
  width: 100vw;
  .header {
    display: flex;
    justify-content: flex-start;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    height: 11.5vh;
    padding-left: 5%;
    @media (min-width: 1000px) {
      font-size: 38px;
    }
  }
  .choices {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding-bottom: 70px;
    background-color: white;
    margin-top: 20px;
    @media (min-width: 1000px) {
      border-bottom: 1px solid grey;
      justify-content: center;
    }
    .work-choice,
    .projects-choice {
      width: 490px;
      text-align: center;
      display: flex;
      justify-content: center;
      .choice-active {
        width: 100%;
        height: 45px;
        padding-bottom: 15px;
        border-bottom: 3px solid $light-green;
        font-size: 22px;
        @media (min-width: 1000px) {
          font-size: 30px;
          width: 50%;
        }
      }
      .work-choice-start {
        width: 100%;
        height: 45px;
        padding-bottom: 15px;
        border-bottom: 3px solid $light-green;
        font-size: 22px;
        @media (min-width: 1000px) {
          font-size: 30px;
          width: 50%;
        }
      }
      .work-choice-i,
      .projects-choice-i {
        width: 100%;
        height: 5vh;
        font-size: 22px;
        @media (min-width: 1000px) {
          font-size: 30px;
        }
      }
    }
  }
  .work-container {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1000px) {
      margin-top: 20px;
    }
    .course-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 3vh;
      width: 90%;
      @media (min-width: 1000px) {
        width: 980px;
      }
      .title,
      .date,
      .description {
        width: 100%;
      }
      .title {
        font-size: 22px;
        @media (min-width: 1000px) {
          font-size: 28px;
        }
      }
      .date {
        padding-top: 8px;
        color: #575757;
        font-size: 20px;
        @media (min-width: 1000px) {
          font-size: 26px;
          padding-top: 10px;
        }
      }
      .description {
        padding-top: 16px;
        font-size: 18px;
        color: black;
        padding-bottom: 1vh;
        letter-spacing: 0.2px;
        font-weight: 300;
        line-height: 1.3em;
        @media (min-width: 1000px) {
          font-size: 24px;
          padding-top: 20px;
        }
      }
      .dl-img {
        height: 200px;
        width: 200px;
        background-image: url('../Assets/devleague.png');
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.2;
        position: absolute;
        margin-top: 2vh;
        @media (min-width: 1000px) {
          height: 170px;
          width: 170px;
        }
      }
      .border-experience-container {
        width: 100%;
        .border {
          border: 2px solid $light-green;
          width: 60%;
          margin-top: 14px;
        }
      }
    }
  }
  .projects-container {
    z-index: 0;
    background-color: white;
    width: 90%;
    align-items: center;
    flex-direction: column;
    @media (min-width: 1000px) {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
    .project,
    .project-2 {
      display: flex;
      justify-content: space-between;
      padding-top: 5px;
      height: 260px;
      @media (min-width: 1000px) {
        height: 320px;
        width: 750px;
      }
      .description-container {
        width: 48%;
        display: flex;
        flex-direction: column;
        height: 230px;
        @media (min-width: 1000px) {
          width: 58%;
        }
        .title {
          padding-top: 20px;
          font-size: 24px;
          font-weight: 600;
          color: #434343;
          text-decoration: none;
          @media (min-width: 1000px) {
            font-size: 30px;
          }
        }
        .desc {
          padding-top: 8px;
          font-weight: 300;
          font-size: 18px;
          @media (min-width: 1000px) {
            font-size: 24px;
            width: 75%;
          }
        }
        .technology-container {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          .tech1,
          .tech,
          .tech-bot,
          .learn-more {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            padding: 5px;
            @media (min-width: 1000px) {
              font-size: 18px;
            }
          }
          .tech1,
          .tech,
          .tech-bot {
            color: white;
          }
          .tech1,
          .tech {
            width: 45%;
            background-color: $light-green;
            border-radius: 5px;
            margin-top: 12px;
            @media (min-width: 1000px) {
              width: 30%;
            }
          }
          .tech {
            margin-left: 10px;
          }
          .tech-bot {
            width: 70%;
            background-color: $light-green;
            border-radius: 5px;
            @media (min-width: 1000px) {
              width: 50%;
            }
          }
          .learn-more {
            width: 100%;
            border: 2px solid $light-green;
            border-radius: 5px;
            color: $light-green;
            text-decoration: none;
            @media (min-width: 1000px) {
              width: 70%;
            }
          }
          .github {
            text-decoration: none;
            width: 100%;
          }
          .learn-more,
          .tech-bot {
            margin-top: 10px;
          }
        }
      }
      .phone {
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (min-width: 1000px) {
          align-items: flex-end;
          width: 38%;
        }
        .phone-container {
          width: 120px;
          height: 240px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 48px;
          flex-direction: column;
          @media (min-width: 1000px) {
            width: 150px;
            height: 300px;
          }
          .phone-img {
            height: 100%;
            width: 100%;
            z-index: 1;
            position: absolute;
          }
          .garden-guru-img {
            height: 76%;
            width: 88%;
            position: absolute;
          }
        }
      }
    }
  }
}

.project-2 {
  margin-top: 0px;
  @media (min-width: 1000px) {
    margin-top: 30px;
  }
}
