@import '../index.scss';
.sidebar-container {
  height: 100vh;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  z-index: 11;
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  @media (min-width: 1000px) {
    width: 35vw;
  }
  .links {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 25px;
    height: 80%;
    @media (min-width: 1000px) {
      margin-left: 60px;
    }
    .lin {
      margin-top: 15%;
      font-size: 1.5em;
      width: 80%;
      text-decoration: none;
      color: black;
      font-weight: 300;
      padding-bottom: 10px;
      @media (min-width: 1000px) {
        margin-top: 5%;
        font-size: 1.8em;
      }
    }
    .link {
      margin-top: 30%;
      font-size: 1.5em;
      width: 80%;
      text-decoration: none;
      color: black;
      font-weight: 300;
      padding-bottom: 10px;
      @media (min-width: 1000px) {
        margin-top: 18%;
        font-size: 1.8em;
      }
    }
    .link:hover,
    .link:active,
    .lin:hover,
    .lin:active {
      border-bottom: 2px solid $light-green;
    }
  }
  .logo {
    background-image: url('../Assets/logo.png');
    height: 50px;
    width: 40px;
    background-size: 100% 100%;
    margin: 10px;
    @media (min-width: 1000px) {
      margin: 20px;
      height: 70px;
      width: 55px;
    }
  }
}

.sidebar-container.open {
  transform: translateX(0);
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
  .close {
    width: 32px;
    height: 32px;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    right: 10%;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $light-green;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
