@import '../index.scss';
.sidebar-container {
  height: 100vh;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  z-index: 11;
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    .link {
      padding: 22% 0%;
      font-size: 1.5em;
      width: 100%;
      text-decoration: none;
    }
    .link:hover,
    .link:active {
      padding: 22% 0%;
      font-size: 1.5em;
      width: 100%;
      border-bottom: 2px solid $light-green;
    }
  }
  .logo {
    background-image: url('../Assets/logo.png');
    height: 10vh;
    width: 14vw;
    background-size: 100% 100%;
    padding: 5%;
    margin: 5%;
  }
}

.sidebar-container.open {
  transform: translateX(0);
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
  .close {
    width: 32px;
    height: 32px;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    right: 10%;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $light-green;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
@media (min-width: 590px) {
  .sidebar-container {
    width: 40vw;
    .links {
      .link,
      .link:active,
      .link:hover {
        padding: 15% 0%;
        font-size: 1.5em;
        width: 50%;
      }
    }
    .logo {
      width: 10vw;
    }
  }
}
@media (min-width: 800px) {
  .sidebar-container {
    width: 30vw;
    .links {
      .link,
      .link:active,
      .link:hover {
        padding: 18% 0%;
        font-size: 2em;
        width: 50%;
      }
    }
    .close {
      width: 45px;
      height: 45px;
    }
    .close:before,
    .close:after {
      height: 45px;
      width: 4px;
    }
    .logo {
      width: 5.5vw;
    }
  }
}
@media (min-width: 1000px) {
  .sidebar-container {
    .links {
      .link,
      .link:active,
      .link:hover {
        padding: 15% 0%;
        font-size: 2.2em;
        width: 50%;
      }
    }
    .logo {
      width: 5vw;
    }
  }
}
