@import '../index.scss';
.sidebar-container {
  height: 100vh;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  z-index: 2;
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Lato', sans-serif;
  .links {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 200%;
    .link {
      padding: 15% 0%;
      font-size: 6vw;
      width: 100%;
    }
    .link:hover {
      padding: 15% 0%;
      font-size: 6vw;
      width: 100%;
      border-bottom: 2px solid $light-green;
    }
  }
  .logo {
    background-image: url('../Assets/logo.png');
    height: 10vh;
    width: 10vw;
    background-size: 100% 100%;
    padding: 5%;
    margin: 5%;
  }
}

.sidebar-container.open {
  transform: translateX(0);
}
.header {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
  .close {
    width: 32px;
    height: 32px;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before,
  .close:after {
    position: absolute;
    right: 10%;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: $light-green;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
}
