@import '../index.scss';
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-family: 'Lato', sans-serif;
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
  .contact {
    text-decoration: none;
    font-size: 16px;
    border: 2px solid $light-green;
    border-radius: 8px;
    padding: 2px 10px;
    color: $light-green;
    margin-right: 4%;
    display: flex;
    align-items: center;
  }
  .scroll-down {
    opacity: 0;
    transition: 0.01s;
  }
  .scroll-up {
    opacity: 1;
    transition: 0.01s;
  }
}

@media (min-width: 800px) {
  .header-container {
    .contact {
      font-size: 20px;
      margin-right: 20px;
    }
  }
}
@media (min-width: 1000px) {
  .header-container {
    .contact {
      font-size: 26px;
      margin-right: 20px;
    }
  }
}
