@import '../index.scss';
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  font-family: 'Ubuntu', sans-serif;
  .contact {
    margin: 3%;
    margin-right: 5%;
    padding: 1% 3%;
    border: 2px solid $light-green;
    border-radius: 8px;
    color: $light-green;
  }
  .overlay {
    padding: 3%;
    margin-left: 3%;
    .line {
      @extend %overlay-line;
      background-color: $light-green;
    }
    .line-mid {
      @extend %overlay-line;
      background-color: $dark-green;
    }
  }
}
