@import '../index.scss';
.contact-container {
  font-family: 'Lato', sans-serif;
  height: 90vh;
  .header {
    display: flex;
    flex-direction: column;
    padding-left: 6.5vw;
    .title {
      font-size: 32px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 900;
      letter-spacing: 1px;
      @media (min-width: 1000px) {
        font-size: 38px;
      }
    }
    .sub-title {
      font-size: 20px;
      padding-top: 10px;
      color: #2e2e2e;
      @media (min-width: 1000px) {
        font-size: 26px;
      }
    }
  }

  .form-container {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex-wrap: wrap;
    .error {
      position: absolute;
    }
    .top-inputs {
      width: 100vw;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 20px;
    }
    .name,
    .email {
      background-color: #f3f3f3;
      padding: 12px;
      width: 40vw;
      font-size: 20px;
      height: 50px;
      font-family: 'Lato', sans-serif;
    }
  }
  .subject-input {
    padding-bottom: 13px;
    .subject {
      height: 50px;
      width: 86.5vw;
      background-color: #f3f3f3;
      padding: 12px;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
    }
  }

  .name::placeholder,
  .email::placeholder,
  .subject::placeholder,
  .message-::placeholder {
    color: black;
    font-weight: 300;
  }
}

.send-container {
  width: 100vw;
  padding-left: 6.5vw;
  font-size: 20px;
  margin-top: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  padding-top: 20px;
  .icon-container {
    display: flex;
    width: 75%;
    height: 15vh;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 1000px) {
      width: 50%;
    }
    .fab,
    .fas {
      transform: scale(2.3, 2.3);
      @media (min-width: 1000px) {
        transform: scale(2.8, 2.8);
      }
    }
    a {
      color: #505050;
    }
    a:hover {
      color: $light-green;
    }
  }
}

.name,
.email,
.subject,
.message- {
  border-style: none;
  border-radius: 0px 5px 5px 0px;
  border-left: $light-green 4px solid;
}

.MuiInputBase-root-26.MuiInput-root-13.MuiInput-underline-17.MuiInputBase-formControl-27.MuiInput-formControl-14.MuiInputBase-multiline-34.MuiInput-multiline-19 {
  border-style: none;
}
.MuiPrivateTextarea-textarea-46.MuiInputBase-input-38.MuiInput-input-23.Contact-input-2.MuiInputBase-inputMultiline-40.MuiInput-inputMultiline-25::placeholder {
  color: #000000;
  font-weight: 400;
}
