@import '../index.scss';
.contact-container {
  font-family: 'Lato', sans-serif;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;


  @media (min-width: 1000px) {
    height: 90vh;
    justify-content: center;
  }
  .header-1 {
    display: flex;
    flex-direction: column;
    padding-left: 6.5vw;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    @media (min-width: 1000px) {
      width: 980px;
      padding-left: 0px;
    }
    .title {
      font-size: 32px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 900;
      letter-spacing: 1px;
      @media (min-width: 1000px) {
        font-size: 38px;
        width: 980px;
      }
    }
    .sub-title {
      font-size: 22px;
      padding-top: 10px;
      color: #2e2e2e;
      @media (min-width: 1000px) {
        font-size: 28px;
        width: 980px;
      }
      @media screen and (max-height: 500px) {
        padding-top: 0px;
      }
    }
  }

  .form-container {
    width: 100vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-height: 500px) {
      height: 110%;
      margin-top: 15px;
    }
    @media (min-width: 1000px) {
      margin-top: 0px;
    }
    .error {
      position: absolute;
    }
    .top-inputs {
      width: 100vw;
      height: 13%;
      display: flex;
      justify-content: space-evenly;
      @media (min-width: 1000px) {
        width: 980px;
        height: 13%;
        justify-content: space-between;
      }
      @media screen and (max-height: 500px) {
        height: 15%;
      }
    }
    .name,
    .email {
      background-color: #f3f3f3;
      padding: 12px;
      width: 40%;
      font-size: 20px;
      height: 100%;
      font-family: 'Lato', sans-serif;
      @media (min-width: 1000px) {
        width: 48%;
        font-size: 26px;
      }
    }
  }
  .subject-input {
    height: 13%;
    margin-top: 0.5%;
    @media (min-width: 1000px) {
      height: 13%;
    }
    @media screen and (max-height: 500px) {
      height: 16%;
      margin-top: 1%;
    }
    .subject {
      height: 100%;
      width: 86.5vw;
      background-color: #f3f3f3;
      padding: 12px;
      font-size: 20px;
      font-family: 'Lato', sans-serif;
      @media (min-width: 1000px) {
        width: 980px;
        font-size: 26px;
      }
    }
  }
  .message-container {
    width: 86.5vw;
    margin-right: 14.8px;
    height: 48%;
    @media (min-width: 1000px) {
      width: 980px;
    }
    @media screen and (max-height: 500px) {
      height: 46%;
    }
  }
  .name::placeholder,
  .email::placeholder,
  .subject::placeholder,
  .message-::placeholder {
    color: black;
    font-weight: 300;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  @media (min-width: 1000px) {
    height: 110px;
  }
  @media screen and (max-height: 500px) {
    display: none;
  }
  .icon-container {
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
    @media (min-width: 1000px) {
      width: 45%;
    }
    .fab,
    .fas {
      transform: scale(2.3, 2.3);
      @media (min-width: 1000px) {
        transform: scale(2.6, 2.6);
      }
    }
    a {
      color: #505050;
    }
    a:hover {
      color: $light-green;
    }
  }
}

.name,
.email,
.subject,
.message- {
  border-style: none;
  border-radius: 0px 5px 5px 0px;
  border-left: $light-green 4px solid;
}

.MuiInputBase-root-26.MuiInput-root-13.MuiInput-underline-17.MuiInputBase-formControl-27.MuiInput-formControl-14.MuiInputBase-multiline-34.MuiInput-multiline-19 {
  border-style: none;
}

.MuiFormControl-root-11.Contact-margin-1 {
  @media (min-width: 1000px) {
    height: 190px;
  }
}
#text-field {
  @media (max-height: 500px) {
    margin-top: 15px;
    padding-top: 5px;
    line-height: 1;
    overflow: scroll;
    height: 100%;
    max-height: 100%;
  }
  @media (min-width: 1000px) {
    font-size: 26px;
  }
}

.MuiInputBase-root-28.MuiInput-root-15.MuiInputBase-formControl-29.MuiInput-formControl-16.MuiInputBase-multiline-36.MuiInput-multiline-21 {
  overflow: scroll;
}
