@import '../index.scss';
%send-button {
  width: 90px;
  padding: 3px;
  padding-top: 2px;
  border: $light-green solid 2px;
  border-radius: 5px;
  background-color: $light-green;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: white;
  height: 35px;
}
.send-container {
  width: 86.5vw;
  @media (min-width: 1000px) {
    width: 980px;
  }
  display: flex;
  .send {
    @extend %send-button;
  }
}
.send:disabled {
  @extend %send-button;
  background-color: #b6b6b6;
  border: none;
}
