@import '../index.scss';
%send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  border: $light-green solid 2px;
  border-radius: 5px;
  background-color: $light-green;
  font-size: 22px;
  color: white;
  padding: 15px 8px;
  @media (min-width: 1000px) {
    padding: 17px 7px;
    width: 160px;
    font-size: 26px;
  }
}
.send-container {
  width: 86.5vw;
  height: 5%;
  margin-top: 10px;
  @media (min-width: 1000px) {
    width: 980px;
    margin-top: 20px;
  }
  @media (min-height: 900px) {
    width: 980px;
    margin-top: 0px;
  }
  display: flex;
  .send {
    @extend %send-button;
    cursor: pointer;
    @media screen and (max-height: 500px) {
      display: none;
    }
  }
  .send:disabled {
    @extend %send-button;
    background-color: #b6b6b6;
    border: none;
    border: #b6b6b6 solid 2px;
    @media screen and (max-height: 500px) {
      display: none;
    }
  }
}
