@import '../index.scss';
%send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  padding: 3px;
  border: $light-green solid 2px;
  border-radius: 5px;
  background-color: $light-green;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: white;
  height: 35px;
  @media (min-width: 1000px) {
    padding: 4px;
    width: 160px;
    height: 40px;
    font-size: 26px;
  }
}
.send-container {
  padding-top: 3px;
  width: 86.5vw;
  @media (min-width: 1000px) {
    width: 980px;
    padding-top: 8px;
  }
  display: flex;
  .send {
    @extend %send-button;
  }
}
.send:disabled {
  @extend %send-button;
  background-color: #b6b6b6;
  border: none;
}
