.home-container {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  padding-bottom: 5vh;
  .title,
  .sub-title {
    font-size: 2em;
    position: relative;
    z-index: 0;
    @media (min-width: 767px) {
      font-size: 2.5em;
    }
    @media (min-width: 1000px) {
      font-size: 2.7em;
    }
  }
  .sub-title {
    font-style: italic;
    font-weight: lighter;
    animation: sub-title 2s ease 4s normal both;
  }
  .title {
    animation: title 2s ease 4s normal both;
  }

  .logo-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    animation: wrapper 3s ease 0.5s normal both;
    .logo-top {
      width: 225px;
      height: 20vh;
      position: absolute;
      display: inline-block;
      top: 0;
      animation: logo-top 4s ease 0.5s normal both;
      @media (min-width: 1000px) {
        width: 250px;
        height: 20vh;
      }
    }
    .logo-bottom {
      width: 225px;
      height: 20vh;
      @media (min-width: 1000px) {
        width: 250px;
        height: 20vh;
      }
      margin-left: 7px;
      position: absolute;
      display: inline-block;
      bottom: 0;
      animation: logo-bottom 4s ease 0.5s normal both;
    }
  }
}
