@import '../index.scss';
.about-container {
  height: 90vh;

  .title-container {
    padding-top: 8%;
    padding-left: 8%;
    font-family: 'Ubuntu', sans-serif;
    .title {
      font-size: 26px;
    }
    .sub-title {
      font-size: 22px;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px $light-green solid;
    width: 80%;
    margin: 0 auto;
  }
  .footer {
  }
}
