@import '../index.scss';

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
  font-family: 'Lato', sans-serif;
  .header {
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;

    .titles {
      width: 70vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      .title {
        font-size: 32px;
        margin-top: 10px;
        font-weight: 900;
      }
      .sub-title {
        margin-top: 10px;
        font-size: 20px;
      }
    }
  }
  .picture-container {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .picture {
      height: 80px;
      width: 80px;
      background-image: url('../Assets/profilePic.png');
      background-size: cover;
      border-radius: 10px;
    }
  }
  .body {
    width: 85%;
    .paragraph-1 {
      font-weight: 300;
      font-size: 18px;
      letter-spacing: 0.2px;
      line-height: 1.25;
    }
    .paragraph-2 {
      font-weight: 300;
      margin-top: 20px;
      font-size: 18px;
      letter-spacing: 0.2px;
      line-height: 1.25;
    }
    .paragraph-3 {
      font-weight: 300;
      margin-top: 20px;
      font-size: 18px;
      letter-spacing: 0.2px;
      line-height: 1.25;
      margin-bottom: 12px;
    }
  }
}
