@import '../index.scss';
.skills-container {
  width: 100%;
  font-family: 'Lato', sans-serif;
  .header {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .skills {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .skill-header {
      font-size: 28px;
      padding-top: 4.5vh;
      width: 100%;
      padding-left: 5vw;
    }
    .front-end-skill-header {
      font-size: 28px;
      width: 100%;
      padding-left: 5vw;
    }
    .skill-container {
      display: flex;
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 90vw;
      .skill {
        padding: 4px;
        padding-left: 0;
        font-size: 22px;
        width: 45vw;
        font-weight: 300;
      }
    }
    .logo-container {
      display: flex;
      width: 100%;
      height: 9vh;
      justify-content: space-evenly;
      align-items: center;
      .fab,
      .fas {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12px;
        width: 12px;
        transform: scale(3, 3);
      }
      .fab.fa-sass {
        color: #de5b9c;
      }
      .fab.fa-js-square {
        color: #fbde00;
        background-color: black;
      }
      .fab.fa-react {
        color: #00ddff;
      }
      .fab.fa-node-js {
        color: #53a25c;
      }
      .fab.fa-aws {
        color: #ff8f00;
      }
      .fas.fa-database {
        color: #1f6590;
      }
      .fab.fa-npm {
        color: #dc232e;
        transform: scale(3.85, 3.85);
      }
      .fas.fa-code-branch {
        color: turquoise;
      }
      .fab.fa-vuejs {
        color: #00bc7e;
        transform: scale(3.4, 3.4);
      }
      .fas.fa-robot {
        color: rgb(50, 204, 255);
      }
      .fas.fa-fire {
        color: rgb(255, 57, 13);
      }
      .fas.fa-cloud {
        color: #00bff1;
      }
      .fas.fa-code {
        color: rgb(97, 97, 97);
      }
      .fas.fa-route {
        color: orange;
      }
    }
    .border-bot {
      border: 18px solid white;
      width: 60%;
      margin-left: 7.5vw;
    }
  }
}
