@import '../index.scss';
.skills-container {
  width: 100%;
  font-family: 'Lato', sans-serif;
  .header {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 7.5vw;
  }
  .skills {
    width: 100%;

    .skill-header {
      font-size: 26px;
      padding-left: 7.5vw;
      padding-top: 5vh;
    }
    .front-end-skill-header {
      font-size: 26px;
      padding-left: 7.5vw;
    }
    .skill-container {
      display: flex;
      justify-content: center;
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
      flex-wrap: wrap;
      .skill {
        padding: 4px;
        font-size: 20px;
        width: 49vw;
        padding-left: 7.5vw;
      }
    }
    .border {
      border: 2px solid $light-green;
      width: 60%;
      margin-left: 7.5vw;
    }
    .border-bot {
      border: 18px solid white;
      width: 60%;
      margin-left: 7.5vw;
    }
  }
}
