@import '../index.scss';
.skills-container {
  width: 95%;
  font-family: 'Lato', sans-serif;
  padding-left: 5%;

  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-1 {
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    padding-bottom: 8px;
    @media (min-width: 1000px) {
      width: 980px;
      font-size: 38px;
      margin-left: 51px;
    }
  }
  .skills {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 1000px) {
      flex-direction: row;
      flex-wrap: wrap;
      width: 980px;
      margin-left: 0px;
      justify-content: space-around;
    }

    .block,
    .top-block,
    .second-block {
      width: 100vw;
      padding-top: 20px;
      @media (min-width: 1000px) {
        padding-top: 25px;
        width: 45%;
        max-width: 490px;
      }
      .front-end-skill-header {
        font-size: 24px;
        width: 100%;
        margin-top: 10px;
        @media (min-width: 1000px) {
          margin-top: 20px;
          font-size: 30px;
        }
      }
      .skill-header {
        font-size: 24px;
        margin-top: 4.5%;
        width: 100%;
        @media (min-width: 1000px) {
          font-size: 30px;
        }
      }
      .skill-container {
        display: flex;
        margin-top: 2%;
        padding-bottom: 10px;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 90vw;
        @media (min-width: 1000px) {
          width: 100%;
        }
        .skill {
          padding: 4px;
          padding-left: 0;
          font-size: 19px;
          width: 45%;
          font-weight: 300;
          @media (min-width: 1000px) {
            font-size: 25px;
            padding: 6px;
            padding-left: 0;
          }
        }
      }
      .logo-container {
        display: flex;
        width: 60%;
        height: 45px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        padding-left: 20px;
        @media (min-width: 1000px) {
          // margin-right: 20%;
          margin-left: 6%;
          margin-top: 0px;
          width: 65%;
          justify-content: space-between;
        }
        .fab,
        .fas {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 15px;
          width: 12px;
          transform: scale(2.5, 2.5);
          @media (min-width: 1000px) {
            transform: scale(3, 3);
          }
        }
        .fab.fa-sass {
          color: #de5b9c;
        }
        .fab.fa-js-square {
          color: #fbde00;
          background-color: black;
          height: 12px;
          @media (min-width: 1000px) {
            height: 12px;
          }
        }
        .fab.fa-react {
          color: #00ddff;
        }
        .fab.fa-node-js {
          color: #53a25c;
        }
        .fab.fa-aws {
          color: #ff8f00;
        }
        .fas.fa-database {
          color: #1f6590;
        }
        .fab.fa-npm {
          color: #dc232e;
          transform: scale(3.85, 3.85);
        }
        .fas.fa-code-branch {
          color: turquoise;
        }
        .fab.fa-vuejs {
          color: #00bc7e;
          transform: scale(3.4, 3.4);
        }
        .fas.fa-robot {
          color: rgb(50, 204, 255);
        }
        .fas.fa-fire {
          color: rgb(255, 57, 13);
        }
        .fas.fa-cloud {
          color: #00bff1;
        }
        .fas.fa-code {
          color: rgb(97, 97, 97);
        }
        .fas.fa-route {
          color: orange;
        }
      }
    }
    .top-block {
      padding-top: 0;
    }
    .second-block {
      @media (min-width: 1000px) {
        padding-top: 0px;
      }
    }

    .border-container-skill {
      width: 100%;
      .border {
        border: 2px solid $light-green;
        width: 60%;
        margin-top: 10px;
        @media (min-width: 1000px) {
          width: 50%;
          margin-top: 15px;
        }
      }
    }
  }
  .border-bot {
    border: 18px solid white;
    width: 60%;
    margin-left: 7.5vw;
  }
}

.currently-block {
  width: 100vw;
  padding-top: 20px;
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-left: 10%;
  }
  .skill-header {
    font-size: 24px;
    margin-top: 4.5%;
    width: 100%;
    @media (min-width: 1000px) {
      font-size: 30px;
      width: 490px;
    }
  }
  .skill-container {
    display: flex;
    margin-top: 2%;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90vw;
    @media (min-width: 1000px) {
      width: 490px;
    }
    .skill {
      padding: 4px;
      padding-left: 0;
      font-size: 19px;
      width: 45%;
      font-weight: 300;
      @media (min-width: 1000px) {
        font-size: 25px;
        padding: 6px;
        padding-left: 0;
      }
    }
  }
  .logo-container {
    display: flex;
    width: 60%;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 20px;
    @media (min-width: 1000px) {
      margin-right: 12%;
      margin-top: 5px;
      width: 35%;
      justify-content: space-between;
    }
    .fab,
    .fas {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 15px;
      width: 12px;
      transform: scale(2.5, 2.5);
      @media (min-width: 1000px) {
        transform: scale(3, 3);
      }
    }
    .fab.fa-sass {
      color: #de5b9c;
    }
    .fab.fa-js-square {
      height: 12px;
      @media (min-width: 1000px) {
        height: 15px;
      }
    }
    .fab.fa-react {
      color: #00ddff;
    }
    .fab.fa-node-js {
      color: #53a25c;
    }
    .fab.fa-aws {
      color: #ff8f00;
    }
    .fas.fa-database {
      color: #1f6590;
    }
    .fab.fa-npm {
      color: #dc232e;
      transform: scale(3.85, 3.85);
    }
    .fas.fa-code-branch {
      color: turquoise;
    }
    .fab.fa-apple {
      color: rgb(69, 69, 69);
      transform: scale(3.5, 3.5);
    }
    .fab.fa-android {
      color: #67b444;
      transform: scale(3.5, 3.5);
    }
    .fas.fa-table {
      color: rgb(69, 69, 69);
      transform: scale(2.7, 2.7);
    }
    .fas.fa-cloud {
      color: #00bff1;
    }
    .fas.fa-code {
      color: rgb(97, 97, 97);
    }
    .fas.fa-route {
      color: orange;
    }
  }
}
