.education-container {
  font-family: 'Lato', sans-serif;
  .header {
    display: flex;
    justify-content: flex-start;
    font-size: 34px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    @media (min-width: 767px) {
      font-size: 40px;
    }
    @media (min-width: 1300px) {
      font-size: 44px;
    }
  }
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    .course-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 4vh;
      width: 90vw;
      .title,
      .date,
      .description {
        width: 100%;
      }
      .title {
        font-size: 1.5em;
        @media (min-width: 767px) {
          font-size: 1.7em;
        }
        @media (min-width: 1300px) {
          font-size: 2em;
        }
      }
      .date {
        padding-top: 1vh;
        color: #575757;
        font-size: 22px;
        @media (min-width: 767px) {
          font-size: 26px;
          padding-top: 2vh;
        }
        @media (min-width: 1300px) {
          font-size: 30px;
          padding-top: 3vh;
        }
      }
      .description {
        padding-top: 3vh;
        font-size: 21px;
        color: black;
        padding-bottom: 1vh;
        letter-spacing: 0.2px;
        font-weight: 300;
        line-height: 1.3em;
        @media (min-width: 767px) {
          font-size: 25px;
          padding-top: 4vh;
        }
        @media (min-width: 1300px) {
          font-size: 29px;
          padding-top: 6vh;
        }
      }

      .dl-img {
        height: 30vh;
        width: 30vh;
        background-image: url('../Assets/devleague.png');
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.2;
        position: absolute;
        margin-top: 2vh;
        @media (min-width: 767px) {
          height: 27.5vh;
          width: 27.5vh;
        }
        @media (min-width: 1300px) {
          height: 25vh;
          width: 25vh;
        }
      }
      .udacity-img {
        height: 30vh;
        width: 30vh;
        background-image: url('../Assets/udacity.png');
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.2;
        position: absolute;
        margin-top: 2vh;
        @media (min-width: 767px) {
          height: 27.5vh;
          width: 27.5vh;
        }
        @media (min-width: 1300px) {
          height: 25vh;
          width: 25vh;
        }
      }
      .udemy-img {
        height: 25vh;
        width: 35vh;
        background-image: url('../Assets/udemy.png');
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.3;
        position: absolute;
        margin-top: 2vh;
        @media (min-width: 767px) {
          height: 22.5vh;
          width: 32.5vh;
        }
        @media (min-width: 1300px) {
          height: 20vh;
          width: 30vh;
        }
      }
    }
  }
}
