.education-container {
  font-family: 'Lato', sans-serif;
  .header {
    display: flex;
    justify-content: flex-start;
    font-size: 33px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    padding-left: 5.5vw;
  }
  .courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    .course-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 4vh;
      width: 88.5vw;
      .title,
      .date,
      .description {
        width: 100%;
      }
      .title {
        font-size: 1.5em;
      }
      .date {
        padding-top: 2vh;
        color: #575757;
        font-size: 22px;
      }
      .description {
        padding-top: 5vh;
        font-size: 21px;
        color: black;
        padding-bottom: 1vh;
        letter-spacing: 0.2px;
        font-weight: 300;
        line-height: 1.3em;
      }
      .dl-img {
        height: 30vh;
        width: 30vh;
        background-image: url('../Assets/devleague.png');
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.2;
        position: absolute;
        margin-top: 2vh;
      }
      .udacity-img {
        height: 30vh;
        width: 30vh;
        background-image: url('../Assets/udacity.png');
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.2;
        position: absolute;
        margin-top: 2vh;
      }
      .udemy-img {
        height: 25vh;
        width: 35vh;
        background-image: url('../Assets/udemy.png');
        background-size: 100% 100%;
        z-index: -1;
        opacity: 0.3;
        position: absolute;
        margin-top: 2vh;
      }
    }
  }
}
