.education-container {
  .header {
    display: flex;
    justify-content: flex-start;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 7.5vw;
  }
}
